body{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;

}
.container-fluid{
  display:flex;
  flex-direction: row;
  
}
.left{
  
  width: 40%;
  height: 900px;
  padding-left: 20px;
  padding-right: 10px;

}
.right{
  
  width: 60%;
  height: 900px;
  border-left: 1px solid black;
  padding-left: 20px;
  padding-right: 10px;
}