body{
    margin: 0px;
    background-color: rgb(247, 233, 217);
}
.outer{
    background-color: antiquewhite;
    height: 300px;
    width: 200px;
    border: 2px solid grey;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.screen{
    height: 20%;
    border-bottom: 2px solid gray;
    background-color: white;
}
.btn{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    /* border:1px solid grey; */
    margin: 5px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    background-color: aliceblue;

}