*{
    box-sizing: border-box;
}
body{
    background-image: url(https://img.freepik.com/free-photo/healthy-food-background-autumn-fresh-vegetables-dark-stone-table-with-copy-space-top-view_127032-1954.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#heading{
    color: rgb(255, 217, 47);
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 50px;
}
.box{
    background-color: rgb(119, 119, 119);
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    height: 60vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    overflow:scroll;
}
.card1{
    text-align: center;
    height: 100px;
    margin: 5px;
    background-color: rgb(164, 226, 106);
    border-radius: 10px;
}